/*reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p,a, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr,iframe {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
	text-decoration:none;
	list-style:none;
	
}

a,a:active,a:hover {outline: none;}
img{max-width:100%;}

iframe {
    border: 0 none;
    width: 100%;
}


a, .contactForm input[type="text"]:focus, .contactForm input[type="email"]:focus, .contactForm textarea:focus, input#formSubmit, .errorForm, #subscribe input[type="email"]:focus, .errorSubs, .servSingle, #toTop i , #notForm input[type="email"]:focus, .contactForm input#submit, #loginForm input,
#loginForm input[type="text"]:focus, #loginForm input[type="password"]:focus{
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}



/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}


body{
	padding:0;
	margin:0;
	font-family: 'Roboto', sans-serif;
	color:#999999;
	
	
}


/*Preloader*/
#loader {
    background: #fafafa;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}


#loaderInner {
    background:#ffffff url(../images/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
	box-shadow:0 0 8px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
}


/*Wrapper*/
#wrapper{
	position:relative;
	width:100%;
}

/*End wrapper*/

.holder960{
	width:960px;
	padding-left:15px;
	padding-right:15px;
	margin:0 auto;
	position:relative;
}

/*Header*/

header{
	padding-top:20px;
	background:#ffffff;
	filter:alpha(opacity = 96);
	background:rgba(255, 255, 255, 0.98);
	position:fixed;
	width:100%;
	top:0;
	left:0;
	z-index:1000;
	color:#ffffff;	
	border-bottom:2px solid #efefef;
}


.logo{
	float:left;
	position:relative;
}


.logo h1 {
    display: inline-block;
    font-family: 'robotoregular';
    font-size: 18px;
    padding-bottom: 2px;
 	padding-top: 2px;
    text-transform: uppercase;
	color:#f67d42;
	position:relative;
	margin-left:70px;
}

.logo h1 span {
    font-family: 'robotoblack';
	color:#2d2d2d;
}

.logo i {
    
	color:#2d2d2d;
}

nav#mainNav{
	float:right;
	margin-top:-20px;
	margin-right:60px;
}

nav#mainNav li {
	display: inline-block;
	float: left;
	font-size: 12px;
	font-family: 'robotomedium';
	text-transform:uppercase;
}


nav#mainNav li a{
    color: #2d2d2d;
    display: block;
    padding: 25px 20px;
    position: relative;

}

nav#mainNav li a:hover{
	color: #f67d42;
}


nav#mainNav li a.buy, .notBtn a, .moreBtn a, a.shortContact{
	color:#ffffff;
	background: #f67d42;
	padding: 12px 20px 12px 30px;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	margin-top:12px;
	box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-ms-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	position:relative;
	/*transition:none;*/
	
}


nav#mainNav li a.buy:hover, .notBtn a:hover, .moreBtn a:hover,a.shortContact:hover{
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-ms-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
}


nav#mainNav li a.buy i{
    font-size: 10px;
    left: 8px;
    position: absolute;
    top: 13px;
}


.active{
	color: #f67d42 !important;
}


.mobileBtn {
	background:#ffffff;
	padding:5px;
	text-align:center;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	z-index:1000;
	display:none;
	box-shadow:0 0 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.2);
	-ms-box-shadow: 0 0 2px rgba(0,0,0,.2);
	-o-box-shadow: 0 0 2px rgba(0,0,0,.2);
}


.mobileBtn i{
	font-size:16px;
	color:#f67d42;
}

/*End header*/



/*Teaser*/

#teaser{
	padding-bottom:65px;
	color:#ffffff;
	/*background:url(../images/sliderImages/full.jpg) no-repeat scroll 0 0px #fafafa;*/
	height:680px;
	text-align:center;	
}

#teaser .overlay {
	height:680px;
	padding-bottom:65px;
}


.teaserTitle {
    margin-top: -200px;
	opacity:0;
}

.teaserTitle h1{
	font-family: 'robotolight';
	font-size:29px;
	text-transform:uppercase;
	position:relative;
	padding-bottom:25px;
}

.teaserTitle h1 span{
	font-family: 'robotobold';
	
	
}


.teaserTitle h1:before {
	border-bottom: 5px solid #FFFFFF;
    content: "";
    display: block;
    left: 264px;
    position: absolute;
    top: 52px;
    width: 432px;
    z-index: 0;
}



.teaserTitle h2{
	font-family: 'robotoregular';
	font-size:22px;
	text-transform:uppercase;
	letter-spacing:2px;
	
}



.down a{
	border: 4px solid #ffffff;
    border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    height: 25px;
    line-height: 30px;
    padding: 10px;
    position: relative;
    width: 25px;
	margin-top:-40px;
	opacity:0;
	
}

.down a:hover{
	background: #ffffff;
	color: #f67d42;
}

.down i{
	line-height:25px;
	margin-left:-1px;
	
}

.column{
	float:left;	
}


/*End teaser*/


.section{
	padding-bottom:90px;
}


.secArrow{
	position:relative;
}

.arrowHolder{

    font-size: 40px;
    height: 101px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    text-align: center;
    top: -32px;
    width: 12%;

}

.secArrow i {
    color: #2D2D2D;
    display: block;
    font-size: 35px;
    left: 50%;
    margin-left: -26px;
    position: absolute;
    top: -5px;
}




/*About section*/

#about{
	position:relative;
	background:#ffffff;
}

#about.section{
	padding-bottom:60px;
}

.aboutIntro {
    margin: 80px auto 0;
    text-align: center;
    width: 730px;
}

.aboutIntro h1{
	text-transform:uppercase;
	color:#2d2d2d;
	font-family: 'robotoregular';
	font-size:24px;
	position:relative;
	line-height:34px;
	margin-bottom:20px;
}


.aboutIntro h1 span.orange{
	color:#f67d42;
	font-family: 'robotobold';

}

.aboutIntro h1 span.black{
	color:#2d2d2d;
	font-family: 'robotobold';

}

.aboutIntro p{
	position:relative;
	font-family: 'robotoregular';
	font-size:13px;
	margin-top:12px;
	line-height:22px;
	color:#888888;
}



.divider {
    margin: 50px auto 0;
    position: relative;
	text-align:center;
	width:700px;
}
.divider span i {
    background:#FFFFFF;
    color: #efefef;
    font-size: 25px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    z-index: 1;

}
.divider span:before {
    border-bottom: 1px dashed #EFEFEF;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 14px;
    width: 100%;
    z-index: 0;
}

.divider h1{
	font-size:20px;
	color:#2d2d2d;
	font-family: 'robotoregular';
	text-transform:uppercase;
	margin-top:20px;
	
}

.divider h1 span{
	font-family: 'robotobold';

}



.features {
    margin-left: 50px;
    margin-right: -15px;
}
.featureHolder {
    margin-bottom: 20px;
    margin-top: 50px;
}

.featureHolder:last-child {
    margin-bottom: 0;
}
.featureSingle {
    margin-right: 30px;
    width: 278px;
}
.featureSingle .ico{
    background:#ffffff;
    border: 1px solid #f67d42;
    border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
    color: #f67d42;
    font-size: 21px;
    height: 30px;
    line-height: 32px;
    margin-right: 26px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 30px;
}



.desc {
    width: 195px;
}


.desc h2 {
    color: #444444;
    font-family: 'robotobold';
    font-size: 16px;
    margin-bottom: 5px;
}


.desc p {
    color: #999999;
    font-family: 'robotoregular';
    font-size: 13px;
    line-height: 20px;
}


.proddetContent{
	margin-top:80px;
}

.shot{
	width:490px;
	margin-right:30px;
}

.description{
	width:400px;
}


.description h1{
	font-family: 'robotolight';
	text-transform:uppercase;
	font-size: 20px;
	color:#2d2d2d;
	line-height: 27px;
}

.detailsList{
	margin-top:20px;
	font-size:14px;
	
}


.detailsList li{
	margin-bottom:10px;
	
}


.detailsList li:before {
    color: #0F2B37;
    content: "\e842";
    font-family: "fontello";
    font-size: 15px;
    padding-right: 10px;
}


.notBtn{
	text-align:left;
	margin-top:40px;
	font-family: 'robotomedium';
	text-transform:uppercase;
	font-size: 14px;
}

.notBtn a i {
    font-size: 10px;
    left: 8px;
    position: absolute;
    top: 15px;
}



/*End about section*/




/*Gallery section*/

#gallery{
	position:relative;
	background:#fafafa;
}

.galleryIntro {
    margin: 80px auto 0;
    text-align: center;
    width: 730px;
}


.galleryIntro h1{
	text-transform:uppercase;
	color:#2d2d2d;
	font-family: 'robotoregular';
	font-size:24px;
	position:relative;
	line-height:34px;
	margin-bottom:20px;
}


.galleryIntro h1 span.orange{
	color:#f67d42;
	font-family: 'robotobold';

}

.galleryIntro h1 span.black{
	color:#2d2d2d;
	font-family: 'robotobold';

}

.slider{
    width: 600px;
}

.slider ul{
	text-align:center;
}


.slider ul p{
	margin-top:30px;
	font-family: 'robotoregular';
	color:#999999;
	font-size: 14px;
	padding-right:70px;
	padding-left:70px;
}

.slider span{
	font-family: 'robotobold';
	color:#666666;
}


.moreBtn{
	text-align:center;
	margin-top:60px;
	font-family: 'robotomedium';
	text-transform:uppercase;
	font-size: 14px;
}

.moreBtn a i {
    font-size: 13px;
    left: 8px;
    position: absolute;
    top: 13px;
}




/*Subscribe*/

.subscribeContainer{
	background: url(http://lorempixel.com/1900/1080/city/);
	background-attachment: fixed;
	background-position: center top;
	background-repeat: repeat-y;
	background-size: cover;
	min-height: 300px;
	background-color:#fafafa;
}


.overlay {
    background: none repeat scroll 0 0 rgba(34, 34, 34, 0.1);
	min-height: 300px;
}



.subscribe {
  	margin: 60px auto;
    text-align: center;
	width:700px;
	color:#ffffff;
}
.letter {
    margin-bottom: 20px;
    position: relative;
}
.letter span  {
	border: 5px solid #ffffff;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 42px;
	font-weight: 700;
	height: 50px;
	line-height: 55px;
	padding: 10px;
	position: relative;
	width: 50px;
}

.letter span i{
	margin-left:-4px;
}


.subscribeHolder h1{
    color: #ffffff;
    font-family: 'robotoregular';
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
	line-height:30px;

}

.subscribeHolder h1 span {
    font-family: 'robotobold';
}

.subscribeHolder p{
	color: #ffffff;
	font-family: 'robotoregular';
	font-size: 14px;
	line-height: 22px;
	margin-top: 12px;
}


#notForm {
    position: relative;
	margin-top:30px;
	margin-bottom:100px;
}


#notForm input[type="email"] {
    background: none;
	filter:alpha(opacity = 12);
	background: rgba(255,255,255,0.1) ;
    border: 2px solid #EFEFEF;
    border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
    color: #FFFFFF ;
    font-size: 12px;
    height: 31px;
    margin-right: 145px;
    outline-width: 0;
    padding-left: 15px;
    width: 300px;
	font-family: 'robotoregular';
}

#notForm input[type="email"]:focus {
    background: rgba(255,255,255,0.4) ;
    outline-width: 0;
}
#notForm input[type="submit"]::-moz-focus-inner {
    border: 0 none;
}

#btnSubmit {
    position: relative;
}

#btnSubmit input[type="submit"] {
    background: none ;
	filter:alpha(opacity = 12);
	background: rgba(255,255,255,0.1) ;
    border: 2px solid #EFEFEF;
    border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 38px;
    position: absolute;
    right: 138px;
    top: -37px;
    width: 120px;
}

label.error {
    color: #FFFFFF;
    display: block;
    font-family: 'robotomedium';
    font-size: 11px;
    left: 136px;
    padding-bottom: 10px;
    position: absolute;
    top: 45px;
}


/*End subscribe*/



/*Login*/



/*Gallery section*/

#login{
	position:relative;
	background:#ffffff;
}



.loginIntro {
    margin: 80px auto 0;
    text-align: center;
    width: 730px;
}


.loginIntro h1{
	text-transform:uppercase;
	color:#2d2d2d;
	font-family: 'robotoregular';
	font-size:24px;
	position:relative;
	line-height:34px;
	margin-bottom:20px;
}


.loginIntro h1 span.black{
	color:#2d2d2d;
	font-family: 'robotobold';

}


#loginForm input[type="text"], #loginForm input[type="password"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
    color: #444444;
    font-family: 'robotobold';
    font-size: 13px;
    margin-bottom: 10px;
    outline-width: 0;
    padding-left: 10px;
}
#loginForm {
    margin-right: 75px;
    margin-top: 40px;
    position: relative;
}
#loginForm label {
    display: inline-block;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}
#loginForm input[type="text"]:focus, #loginForm input[type="password"]:focus {
    background: none repeat scroll 0 0 #FCFCFC;
}


#loginForm input[type="text"], #loginForm input[type="password"] {
    height: 48px;
    width: 200px;
}


#loginForm input[type="submit"] {
    border: medium none;
    border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'robotobold';
    font-size: 14px;
    height: 52px;
    margin-left: 5px;
    position: absolute;
    text-transform: uppercase;
    width: 85px;
	background: #f67d42;
	box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-ms-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	

}


#loginForm input[type="submit"]:hover {
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-ms-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
}


/*End login section*/



/*FAQ section*/

#faq {
	
	background:#fafafa;
}

.faqIntro {
    margin: 80px auto 0;
    text-align: center;
    width: 730px;
}

.faqIntro h1{
	text-transform:uppercase;
	color:#2d2d2d;
	font-family: 'robotoregular';
	font-size:24px;
	position:relative;
	line-height:34px;
	margin-bottom:20px;
}


.faqIntro h1 span.black{
	color:#2d2d2d;
	font-family: 'robotobold';

}


.accordion{
	width:600px;
	margin-right:50px;
}

.shortContact{
	width:300px;
	margin-top:12px;
	
}


.shortContact h1 {
	color:#2d2d2d;
	font-family: 'robotobold';
	text-transform:uppercase;
	font-size:16px;
	margin-bottom:10px;

}

.shortContact p{
	margin-bottom:30px;
	font-size:13px;
	font-family: 'robotoregular';
	line-height:22px;
}


a.shortContact{
	text-transform:uppercase;
	font-size:14px;
	font-family: 'robotomedium';
}

a.shortContact i {
    font-size: 13px;
    left: 8px;
    position: absolute;
    top: 13px;
}



/*End faq section*/


/*Pricing*/

#pricing {
	
	background:#ffffff;
}

.pricingIntro {
    margin: 80px auto 0;
    text-align: center;
    width: 730px;
}

.pricingIntro h1{
	text-transform:uppercase;
	color:#2d2d2d;
	font-family: 'robotoregular';
	font-size:24px;
	position:relative;
	line-height:34px;
	margin-bottom:20px;
}


.pricingIntro h1 span.black{
	color:#2d2d2d;
	font-family: 'robotobold';

}




#pricing {
    background: none repeat scroll 0 0 #FFFFFF;
}


.pricingIntro {
    margin: 80px auto 0;
    text-align: center;
    width: 730px;
}


.pricingIntro h1 {
    color: #2D2D2D;
    font-family: 'robotoregular';
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}


.pricingIntro h1 span.black {
    color: #2D2D2D;
    font-family: 'robotobold';
}


#pricingContainer {
    margin-left: 35px;
    margin-right: 20px;
    margin-top: 80px;
	font-family: 'robotoregular';
}

.pricingtbl ul {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #555555;
    float: left;
    margin-right: 18px;
    text-align: center;
    width: 280px;
	border-radius:8px;
	-webkit-border-radius: 8px;
	-moz-border-radius:8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}


.pricingtbl ul.border li, .pricingtbl ul.border li.signupBtn {
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
}


.pricingtbl ul.border li.signupBtn {
    border-bottom: 1px solid #EFEFEF;
}


.pricingtbl ul.border li span {
   font-family: 'robotobold';
	color:#2d2d2d;
}


.pricingtbl ul.border li:first-child {
    border: medium none;
}


#pricingContainer ul:last-child {
    margin-right: 0;
}


.pricingtbl li.pricing {
    background: none repeat scroll 0 0 #FAFAFA;
    padding: 5px 15px 15px;
}


.pricingtbl ul li {
    padding: 12px;
}


.pricingtbl ul li:first-child {
    background: none repeat scroll 0 0 #2D2D2D;
    border: medium none;
    border-radius: 8px 8px 0 0;
	-webkit-border-radius:  8px 8px 0 0;
	-moz-border-radius:  8px 8px 0 0;
	-ms-border-radius:  8px 8px 0 0;
	-o-border-radius:  8px 8px 0 0;
    color: #EFEFEF;
    font-size: 22px;
    padding: 40px 20px;
    position: relative;
    text-transform: uppercase;
}


#pricingContainer .pricing-big li:first-child {
    font-size: 24px;
    padding: 50px 20px;
}


#pricingContainer .pricing-big li .arrowPricing {
    background: none repeat scroll 0 0 #00B686;
    height: 5px;
    left: 50%;
    position: absolute;
    top: 97px;
    width: 5px;
}


.pricingtbl ul li.signupBtn {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    border-radius: 0 0 8px 8px;
	-webkit-border-radius:  0 0 8px 8px;
	-moz-border-radius:  0 0 8px 8px;
	-ms-border-radius:  0 0 8px 8px;
	-o-border-radius:  0 0 8px 8px;
    padding: 30px;
}


.pricingtbl ul li.signupBtn a {
    background: none repeat scroll 0 0 #F67D42;
	border-radius: 3px;
	-webkit-border-radius:  3px;
	-moz-border-radius:  3px;
	-ms-border-radius:  3px;
	-o-border-radius:  3px;
	box-shadow: -4px -4px 0 rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-ms-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	color: #FFFFFF;
	margin-top: 12px;
	padding: 12px 20px 12px 30px;
	position: relative;
}

.pricingtbl ul li.signupBtn i{
	font-size: 10px;
	left: 8px;
	position: absolute;
	top: 16px;
}


.pricingtbl ul li.signupBtn a:hover {
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-ms-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
}
.pricingtbl ul small {
    color: #999999;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 2px;
}
span.price {
    color: #2D2D2D;
    font-family: "robotobold";
    font-size: 48px;
}
span.price span.dollar {
    color: #666666;
    font-size: 20px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    top: -18px;
}
.pricing-big {
    position: relative;
    top: -12px;
    width: 220px;
    z-index: 20;
}
.pricing-big.style2 {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

}


/*End pricing*/



/*Anota*/


.clientContainer{
	background: url(../images/sliderImages/parallax2.png);
	background-attachment: fixed;
	background-position: center top;
	background-repeat: repeat-y;
	background-size: cover;
	min-height: 300px;
	background-color:#fafafa;
}


.clientContent {
  	margin: 60px auto;
    text-align: center;
	width:850px;
	color:#ffffff;
}


.clientContent h1{
	text-transform:uppercase;
	font-family: 'robotoregular';
	font-size:24px;
	position:relative;
	line-height:34px;
	margin-bottom:5px;
}


.clientContent h1 span.black{
	font-family: 'robotobold';

}


.clientContent p {
    color: #ffffff;
    font-family: 'robotoregular';
    font-size: 13px;
    line-height: 22px;
    position: relative;
	padding-right:100px;
	padding-left:100px;
}

ul.clientList {
    display: block;
    font-size: 70px;
    margin-bottom: 80px;
    margin-top: 30px;
    
}

ul.clientList li{
	display:inline;
	margin-right:20px;
	position: relative;
}

ul.clientList a{
	color:#ffffff;
	display: inline-block;
	
}

/*End anota*/


/*contact section*/

#contact {
	background:#fafafa;
}


.touchIntro {
    margin: 80px auto 0;
    text-align: center;
    width: 730px;
}


.touchIntro h1{
	text-transform:uppercase;
	color:#2d2d2d;
	font-family: 'robotoregular';
	font-size:24px;
	position:relative;
	line-height:34px;
	margin-bottom:20px;
}

.touchIntro h1 span.black{
	color:#2d2d2d;
	font-family: 'robotobold';

}

.getinTouch{
	margin-top:60px;
}


.contactForm {
    margin-right: 18px;
    padding-right: 10px;
    position: relative;
}
#success, #error{
    display: none;
}
#success h2, #error h2 {
    color: #f67d42;
    font-size: 11px;
    left: 4px;
    position: absolute;
    top: -28px;
}


#error h2 {
	color:#ce3d3d;
}



.errorForm {
    border: 1px solid #f67d42 !important;
}


#inputs {
    float: left;
    overflow: hidden;
    width: 50%;
}

#textArea {
    float: right;
    width: 50%;
}


.contactForm input[type="text"], .contactForm input[type="email"], .contactForm textarea {
    background:#ffffff;
    border: 1px solid #EFEFEF;
    color: #444444;
    margin-bottom: 10px;
    outline-width: 0;
    padding-left: 10px;
	font-family: 'robotobold';
	 font-size: 13px;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.contactForm input[type="text"]:focus, .contactForm input[type="email"]:focus, .contactForm textarea:focus {
    background: none repeat scroll 0 0 #FCFCFC;
}
.contactForm input[type="text"], .contactForm input[type="email"] {
    height: 48px;
    width: 430px;
}
.contactForm textarea {
    color: #444444;
    font-size: 13px;
    height: 100px;
	display:block;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 450px;
}
.contactForm input#submit {
    background:  #f67d42;
    border:none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
	height:52px;
    text-transform: uppercase;
    width: 460px;
	font-family: 'robotobold';
	font-size:14px;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-ms-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
}
.contactForm input#submit:hover {
   box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-ms-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1) inset;

}


/*End contact section*/



/*Shareon section*/

#shareon {
	background:#2d2d2d;
}


.shareIntro {
    margin: 80px auto 0;
    text-align: center;
    width: 730px;
}


.shareIntro h1{
	text-transform:uppercase;
	color:#ffffff;
	font-family: 'robotoregular';
	font-size:24px;
	position:relative;
	line-height:34px;
	margin-bottom:20px;
}

.shareIntro h1 span.black{
	font-family: 'robotobold';

}

#shareon .secArrow i{
	color:#ffffff;
}

#shareon.section{
	padding-bottom:50px;
}


.socialsShare {
    margin-top: 20px;
}
.socialsShare li {
    display: inline-block;
    margin-right: 30px;
}
.socialsShare a {
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
    height: 15px;
    padding: 8px;
    text-align: center;
    width: 15px;
}


.socialsShare a.socialTwitter:hover{color:#2FC2EF;}
.socialsShare a.socialDribbble:hover{color:#EA4C89;}
.socialsShare a.socialVimeo:hover{color:#44BBFF;}
.socialsShare a.socialPinterest:hover{color:#d5393a;}
.socialsShare a.socialLinkedin:hover{color:#0073B2;}
.socialsShare a.socialGplus:hover{color:#ce482b;}
.socialsShare a.socialTwitter:hover{color:#2FC2EF;}
.socialsShare a.socialFacebook:hover{color:#4C66A4;}
.socialsShare a.socialVimeo:hover{color:#44bbff;}
.socialsShare a.socialFilckr:hover{color:#006ee0;}




.socialsFooter a i {
    display: block;
    margin-left: -4px;
    margin-top: -1px;
}



/*End shareon section*/


/*Footer*/

#footer{
	padding-top:60px;
	padding-bottom:60px;
	background:#ffffff;
	margin-left:60px;
	margin-right:60px;
	color:#666666;
}


#footer p{
	font-family: 'robotoregular';
	font-size:13px;
	text-transform:uppercase;
	float:left;
}


#footer p span{
	color:#2d2d2d;
	font-family: 'robotobold';
}


#footer ul{
	float:right;
	font-size:13px;
	font-family: 'robotoregular';
}

#footer ul li{
	display:inline;
	margin-right:10px;
	
}

#footer li a{
	color:#666666;
	
}

#footer li a:hover{
	color:#999999;
}





/*End footer*/



/* Clear float style*/
.clearfix:before,
.clearfix:after{
	content:"";
	display:table;
}

.clearfix:after{
	clear:both;
}
/*End clear float style */



/*-------------------------------------------------------------------------*/

/* Media queries */


/*iPad lanscape*/
@media screen and (max-device-width: 960px){
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	.subscribeContainer,.clientContainer {background-attachment: scroll;background-position:top center !important;background-size: cover;}
	.contactForm input#submit { margin-top: 10px;padding: 17px 20px;}
	.contactForm input[type="text"], .contactForm input[type="email"] {height: 45px;}
	#btnSubmit input[type="submit"] {right:134px;top:-38px;}
	

}



/* Tablet Portrait size -> standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	.logo h1{margin-left:30px;}
	nav#mainNav{margin-right:15px;}
	nav#mainNav li a{padding:25px 16px;}
	.holder960, .aboutIntro,.counterHolder,.productDetails,.divider, .faqIntro, .clientContent,.shot, .shareIntro, .loginIntro,.galleryIntro{width:700px;}
	.description{width:500px;}
	.teaserTitle h1:before{left:18%;}
	.featureSingle{width:185px;}
	.desc{width:121px;}
	.featureSingle .ico{margin-right:10px;}
	#btnSubmit input[type="submit"] {right:136px;top:-38px;}
	.arrowHolder{margin-left:-45px;}
	.secArrow i{margin-left:-30px;}
	
	
	
	
	.subscribeContainer, .clientContainer{	background-attachment: scroll;background-position:top center !important;background-size: cover;}
	
	
	.shot.column,.description.column{float:none;}
	.shot{text-align:center;}
	
	
	.accordion{width:440px;}
	.shortContact{width:210px;}
	
	
	#pricingContainer{margin-left:10px;}
	.pricingtbl ul{width:214px;margin-right:14px}
	#pricingContainer .pricing-big li:first-child:after{left:64px;top:100px;}
	
	
	ul.clientList{font-size:55px;}
	
	
	
	#loginForm input[type="submit"]{position: static;width:auto;margin-left: 436px;padding-left:47px;padding-right:47px;}
	#loginForm input[type="text"], #loginForm input[type="password"]{width:450px;}
	
	
	#inputs, #textArea{float:none;width:100%;}
	.contactForm input[type="text"], .contactForm input[type="email"]{width:680px}
	.contactForm textarea{width:683px}
	.contactForm input#submit{width:698px;}
	
}


/* Mobile Landscape Size -> Tablet Portrait size*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	html{-webkit-text-size-adjust: none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}

	#loaderInner {margin: -50px 0 0 -30px;}

	.logo, nav#mainNav{float:none;}
	#loaderInner {margin: -50px 0 0 -30px;}
	.logo{margin-left:0px;margin-bottom:40px;}
	.logo h1{margin-left:10px;}
	nav#mainNav{margin-right:0;}
	nav#mainNav ul{display:none;margin-bottom:20px;padding-left:5px;border-top:1px #efefef solid;padding-top:15px;}
	nav#mainNav li{float:none; display:inline-block;margin-right:10px;}
	nav#mainNav li a{padding:10px 5px;display:block;}
	.mobileBtn{display: inline-block;float: right;margin-bottom: 16px;margin-right: 15px;margin-top: -47px;position: relative;}


	
	
	
	
	.holder960, .aboutIntro,.subscribe,.shot,.description, .counterHolder, .faqIntro,.slider,.touchIntro, .clientContent, .shareIntro, .loginIntro,.galleryIntro,.accordion,.shortContact,.pricingIntro, .productDetails,.divider{width:400px;}
	.arrowHolder {margin-left: -42px;top: -37px;width: 20%;}
	.secArrow i{margin-left:-29px;}
	.teaserTitle h1{font-size:26px;}
	.teaserTitle h1:before{width:385px;left:2%;top:47px;}
	.teaserTitle h2{font-size:18px;letter-spacing:3px;}
	.aboutIntro{margin:100px auto 0;}
	.aboutIntro h1, .galleryIntro h1{font-size:23px;}
	
	.shot{text-align:center;}
	
	.flexslider .slides img {margin-left: 20px;width: 90% !important;}
	
	
	
	.featureSingle{width:380px; margin-bottom:20px;}
	.featureSingle:last-child, .info.column:last-child{margin-bottom:0;}
	.featureSingle.column, .accordion.column, .shortContact.column, #footer p,#footer ul,.shot.column,.description.column{float:none;}
	.notBtn{margin-bottom:30px;}
	
	.accordion{margin-right:0;margin-bottom:50px;}
	
	
	#pricingContainer{margin-left:10px;margin-top:100px}
	.pricingtbl ul{width:380px;float:none; margin-right:0;margin-bottom:50px;}
	.pricingtbl ul:last-child{margin-bottom:0;}
	.pricingtbl ul:nth-child(2n){margin-bottom:5px;}
	#pricingContainer .pricing-big li:first-child:after{left:144px;top:100px;}
	
	
	.clientContent p{padding-right:40px;padding-left:40px;}
	ul.clientList{font-size:60px;}
	
	
	#notForm input[type="email"]{width:245px;}
	#btnSubmit input[type="submit"]{right:6px;top:-39px;}
	label.error{left:22px;}
	
	
	#loginForm input[type="submit"]{width:125px;position: static;margin-left: 189px;}

	

	
	
	
	#inputs, #textArea{float:none;width:100%;}
	.contactForm input[type="text"], .contactForm input[type="email"]{width:380px}
	.contactForm textarea{width:383px}
	.contactForm input#submit{width:398px;}
	
	.socialsShare li{margin-right:15px;}
	#footer {text-align:center;}
	#footer p{margin-bottom:10px;}

	
}


/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width:479px) {
	
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	html{-webkit-text-size-adjust: none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
	.logo, nav#mainNav{float:none;}
	#loaderInner {margin: -50px 0 0 -30px;}
	.logo{margin-left:0px;margin-bottom:30px;}
	.logo h1{margin-left:10px;}
	nav#mainNav{margin-right:0;}
	nav#mainNav ul{display:none;margin-bottom:5px;margin-left:5px;}
	nav#mainNav li{float:none; display:block;}
	nav#mainNav li a{padding:10px 5px;display:block;}
	nav#mainNav li a.buy{display:inline-block;margin-top:5px;margin-bottom:5px;}
	.mobileBtn{display: inline-block;float: right;margin-bottom: 16px;margin-right: 15px;margin-top: -40px;position: relative;}
	
	
	
	
	.holder960, .aboutIntro,.subscribe, .counterHolder, .faqIntro,.slider,.touchIntro, .clientContent, .shareIntro, .loginIntro,.galleryIntro,
	.accordion,.shortContact,.shot,.description,.productDetails,.divider, .pricingIntro{width:230px;}
	
	.arrowHolder {margin-left: -53px;top: -37px;width: 45%;}
	
	
	.teaserTitle h1{font-size:25px;}
	.teaserTitle h1:before{width:195px;left:7%;top:78px;}
	.teaserTitle h2{font-size:17px;}
	.aboutIntro{margin:50px auto 0;}
	
	
	.shot{text-align:center;}
	.proddetContent {margin-top: 30px;}


	

	
	
	#notForm input[type="email"]{width:200px;margin-right:0;}
	#btnSubmit input[type="submit"]{position:static; margin-top:30px;}
	label.error{left:25px;}
	
	
	#loginForm label{padding-bottom:10px;display:block;margin-right: 60px;}
	#loginForm input[type="submit"]{width:auto;padding-left:47px;padding-right:47px;margin-left:5px;}
	#loginForm{padding-bottom:60px;}
	
	

	
	
	.features{margin-left:0;}
	.featureSingle{width:200px;margin-bottom:20px;}
	.desc{width:120px;margin-bottom:20px;}
	.featureSingle.column{float:none;}
	.featureHolder:last-child{margin-top:0;}
	.notBtn{margin-top:30px;}
	
	
	
	.flex-direction-nav .flex-prev{left:-30px !important;}
	.flex-direction-nav .flex-next{right:-30px !important;}


	.featureSingle.column, .accordion.column, .shortContact.column, #footer p,#footer ul,.shot.column,.description.column{float:none;}
	.accordion{margin-right:0;margin-bottom:50px;}
	
	
	#pricingContainer{margin-left:3px;margin-top:90px;}
	.pricingtbl ul{width:220px;float:none; margin-right:0;margin-bottom:50px;}
	.pricingtbl ul:last-child{margin-bottom:0;}
	.pricingtbl ul:nth-child(2n){margin-bottom:5px;}
	#pricingContainer .pricing-big li:first-child:after{left:67px;top:100px;}
	
	
	
	
	.clientContent p{padding:0;}
	ul.clientList{font-size:40px;}
	ul.clientList li {display: inline-block;padding-bottom: 10px;margin-right:0;}
	
	.socialsShare li{margin-right:10px;margin-bottom:10px;}
	#inputs, #textArea{float:none;width:100%;}
	.contactForm input[type="text"], .contactForm input[type="email"]{width:210px}
	.contactForm textarea{width:213px}
	.contactForm input#submit{width:225px;}
	#footer{text-align:center;}
	#footer p{margin-bottom:10px;}

	
}


/*End media queries*/
/*-------------------------------------------------------------------------*/





