header{
    background: #6f6f6f;
    border-bottom: #6f6f6f;
}

nav#mainNav li a {
    color: #f67d42;
    font-weight: bold;
}

.arrowHolder {
    top: -33px;
}

.clearfix {
    zoom:1;
}

.desc h2 {
    color: #f67d42;
    font-family: 'robotobold';
    font-size: 16px;
    margin-bottom: 5px;
}

.desc p {
    color: #ffffff;
    font-family: 'robotoregular';
    font-size: 13px;
    line-height: 20px;
}

.divider span i {
    background: #6f6f6f;
    color: #efefef;
    font-size: 25px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    z-index: 1;
}

.featureSingle {
    margin-right: 30px;
    width: 278px;
}
.featureSingle .ico{
    background:#ffffff;
    border: 1px solid #ffffff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    color: #6f6f6f;
    font-size: 21px;
    height: 30px;
    line-height: 32px;
    margin-right: 26px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 30px;
}

.greyIntro {
    margin: 80px auto 0;
    text-align: center;
}

.greyIntro p {
    position: relative;
    font-family: 'robotoregular';
    font-size: 13px;
    margin-top: 12px;
    line-height: 22px;
    color: #ffffff;
}

.greyIntro h1{
    text-transform:uppercase;
    color:#ffffff;
    font-family: 'robotoregular';
    font-size:24px;
    position:relative;
    line-height:34px;
    margin-bottom:20px;
}


.greyIntro h1 span.orange{
    color:#f67d42;
    font-family: 'robotobold';

}

.greyIntro h1 span.black{
    color:#2d2d2d;
    font-family: 'robotobold';

}

.greyIntro h1 span.white{
    color:#2d2d2d;
    font-family: 'robotobold';

}

.greySection {
    background: #6f6f6f!important;
}

.logo h1 span {
    font-family: 'robotoblack';
    color: #ffffff;
}

.orange {
    color:#f67d42;
}

/* Slider */
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel {
    position: relative;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition:      -o-transform .6s ease-in-out;
        transition:         transform .6s ease-in-out;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}
.carousel-inner > .active {
    left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-inner > .next {
    left: 100%;
}
.carousel-inner > .prev {
    left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}
.carousel-inner > .active.left {
    left: -100%;
}
.carousel-inner > .active.right {
    left: 100%;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1;
}
.carousel-control .icon-prev:before {
    content: '\2039';
}
.carousel-control .icon-next:before {
    content: '\203a';
}
.carousel-indicators {
    position: absolute;
    bottom: 45%;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    bottom: 50%;
    color: #fff;
    text-align: center;
    text-shadow: none!important;
    font-family: 'robotoblack';
    text-transform: uppercase!important;
}
.carousel-caption .btn {
    text-shadow: none;
}
@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -10px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -10px;
    }
    .carousel-caption {
        right: 0;
        left: 0;
        bottom: 50%;
    }
    .carousel-indicators {
        bottom: 45%;
    }
}

@media only screen and (max-width: 479px){
    .overlay {
        min-height: 100vh;
    }

    .carousel, .item, .active {
        height: 100vh;
    }

    .fill img {
        height: 100vh;
    }
}

.main-heading {
    font-weight: 100;
    font-size: 24px;
}

.moreBtn {
    text-align: center;
    margin-top: 40px;
    font-family: 'robotomedium';
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    bottom: 12px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.sub-heading {
    font-weight: 100;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fill img {
    height: 100vh;
    width: 100vw;
}

.loginIntro {
    margin: 200px auto 0;
    text-align: center;
}

@media only screen and (max-width: 479px) {
    #loginForm {
        margin: 0 auto;
    }
}

.loginForm {
    width: 400px;
    position: relative;
    margin: 0 auto!important;
}

#loginForm input[type="submit"] {
    border: medium none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'robotobold';
    font-size: 14px;
    height: 52px;
    margin-left: 5px;
    position: relative;
    text-transform: uppercase;
    width: 50%;
    background: #f67d42;
    box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
    -ms-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.1) inset;
}

#street-view {
    height: 100vh;
}