.black-bg {
    background: #fD502E;
    border-bottom: 1px solid #fD502E;
}

#sidebar {
    background: #555862;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #fD502E;
}

ul.top-menu > li > .logout, ul.top-menu > li > .home {
    background: #555862;
    border: none!important;
}

ul.top-menu > li > .logout:hover, ul.top-menu > li > .home:hover {
    background: transparent;
    border: 1px solid #fff !important;
    color: #fff!important;
}

.site-footer {
    background: #fD502E;
    color: #fff;
    padding: 10px 0;
}

.top-buffer { margin-top:20px; }
.bottom-buffer { margin-top:20px; }

.gm-iv-address {
    height: 56px!important;
}