body { padding-top: 80px; }

.navbar-default
{
    background-color: #555862;
    border: none;
}

.navigation
{
    background-color: #555862;
    border: none;
}

.nav-tabs > li > a:hover{
    color: #fff;
    border-color: #fD502E;
    border-radius: 0;
    background-color: #fD502E;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.nav-tabs > li > a:focus{
    color: #fff;
    border-color: #fD502E!important;
    border-radius: 0;
    background-color: #fD502E!important;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.nav-tabs > li > a {
    color: #fff;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.orange{
    background-color: #fD502E!important;
    border: none!important;
}

.orange:hover{
    background-color: #4C4C4C!important;
    border: none!important;
}

#left .handle
{
    color: #fff;
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fD502E;
    text-decoration: none;
}

#left {
    border: none;
    z-index: 1000;
}

.ui-slideouttab-panel
{
    background: #555862!important;
}

#street-view {
 height: 80vh;
}

.footer {
    background: #555862;
    padding: 50px;
}

.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom:20px; }
.post-bottom-buffer { margin-bottom:120px; }

.gm-iv-address {
    height: 57px!important;
}

.footer-post
{
    color: #fff!important;
    text-decoration: none;
}

.footer-post:hover
{
    color: #fD502E!important;
    text-decoration: none;
}

.text-justify p {
    text-align: justify;
    color: #000!important;
}

.slider-navigation {
    background: #555862;
    padding: 30px 15px;
    text-align: center;
    color: #fD502E;
    font: bold 12px 'Open Sans', Arial, sans-serif;
}

#slider-thumbs { margin-top: -100px; }

#slider-thumbs .list-inline li {
    width: 25%;
    padding: 0px;
    margin-right: -4px;
    cursor: pointer;
}

#slider-thumbs .list-inline li a{ text-decoration: none!important;}

#slider-thumbs .list-inline li:first-child { padding-left: 5px;}

.slider-nav-arrow {
    text-align: center;
    margin-bottom: 0px;
    visibility: hidden;
}

.selected .slider-nav-arrow { visibility: visible; }

.selected .slider-navigation { opacity: 0.5; }